{% extends 'base.html' %}
{% block content %}
    <br><br>
    <br><br>
    <br>
    <br>
    <body>
        <div class="container">
            <div class="card text-dark bg-white mb-3" style="max-width:75rem;">
                <div class="card-header">{{ blog.title }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ blog.pub_date }}</h5>
                    <p class="card-text">{{ blog.body }}</p>
                </div>
            </div>
        </div>
    </body>

    <footer class="footer mt-auto py-3">
        
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script></body>
</html>      

{% endblock %}
