{% extends 'base.html' %}
{% block content %}
<br><br><br><br><br>
    <div class="container">
        <form method = "POST" action = "{% url 'login'%}">
            {% csrf_token %}
            <h1>Login</h1><br>
            <p>이름</p>
            <input type="text" name="username" value="">
            <p>비밀번호</p>
            <input type="password" name="password" value="">
            <br><br>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>
</body>
    <footer class="footer mt-auto py-3">
        
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script></body>
</html>

{% endblock %}